<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Open TeuxDeux</title>
	<link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
</head>

<body>
    <header class="bg-accent">
        <nav class="navbar navbar-expand-lg navbar-dark mx-5">
            <a class="navbar-brand" href="#">Open TeuxDeux</a>
            <div class="ml-auto user-menu"><span class="user-menu__username">username</span>
				<ul class="list-unstyled user-menu__inner">
					<li>Action 1</li>
					<li>Action 2</li>
					<li>Action 3</li>
					<li>Action 4</li>
				</ul>
            </div>
        </nav>
    </header>
    <main class="to-do">
    	<section class="to-do__day">
    		<div class="to-do__day-heading">
	    		<h4>Monday</h4>
	    		<span class="to-do__date">April 12, 2020</span>
	    	</div>
	    	<div class="to-do__day-body">
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    	</div>
    	</section>
    	<section class="to-do__day">
    		<div class="to-do__day-heading">
	    		<h4>Tuesday</h4>
	    		<span class="to-do__date">April 12, 2020</span>
	    	</div>
	    	<div class="to-do__day-body">
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    	</div>
    	</section>
    	<section class="to-do__day">
    		<div class="to-do__day-heading">
	    		<h4>Thirsday</h4>
	    		<span class="to-do__date">April 12, 2020</span>
	    	</div>
	    	<div class="to-do__day-body">
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    	</div>
    	</section>
    	<section class="to-do__day">
    		<div class="to-do__day-heading">
	    		<h4>Wendesday</h4>
	    		<span class="to-do__date">April 12, 2020</span>
	    	</div>
	    	<div class="to-do__day-body">
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    	</div>
    	</section>
    	<section class="to-do__day">
    		<div class="to-do__day-heading">
	    		<h4>Friday</h4>
	    		<span class="to-do__date">April 12, 2020</span>
	    	</div>
	    	<div class="to-do__day-body">
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    	</div>
    	</section>
    	<section class="to-do__day">
    		<div class="to-do__day-heading">
	    		<h4>Saturday</h4>
	    		<span class="to-do__date">April 12, 2020</span>
	    	</div>
	    	<div class="to-do__day-body">
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    	</div>
    	</section>
    	<section class="to-do__day">
    		<div class="to-do__day-heading">
	    		<h4>Sunday</h4>
	    		<span class="to-do__date">April 12, 2020</span>
	    	</div>
	    	<div class="to-do__day-body">
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    		<div class="to-do__day-item">
	    			<input type="text">
	    		</div>
	    	</div>
    	</section>
    </main>
</body>
<script type="text/javascript">
window.addEventListener("load", function() {
  Array.from(document.querySelectorAll(".to-do__day-item")).map(elem => {
    elem.querySelector("input").addEventListener("blur", function(event) {
      let task = this.value
      if (task.length > 0) {
	      elem.innerHTML = `<p>${task}</p><span class="to-do__edit"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 383.947 383.947"><path d="M0 303.947v80h80l236.053-236.054-80-80zM377.707 56.053L327.893 6.24c-8.32-8.32-21.867-8.32-30.187 0l-39.04 39.04 80 80 39.04-39.04c8.32-8.32 8.32-21.867.001-30.187z"/></svg></span>`
	      elem.classList.add("filled")

	      elem.querySelector("span").addEventListener("click", function(event) {
	      	elem.innerHTML = `<input type="text" value="${task}">`
	      	elem.classList.remove("filled")
	      })
	   }
    });

    elem.addEventListener("click", function(event) {
      if (this.classList.contains("filled")) {
      	let task = this.querySelector("p").innerHTML
      	this.classList.remove("filled")
      	this.classList.add("done")
      	this.innerHTML = `<p>${task}</p><span class="to-do__del">&times;</span>`

        elem.querySelector("span").addEventListener("click", function(event) {
          elem.innerHTML = `<input type="text" value="">`
          elem.classList.remove("done")
	    })
      }
    })
  })
})
</script>

</html>
